.main-content {
  padding: 5px;
  background: white;
  .main-item {
    margin: 5px 0 20px 0;
  }
}
.title-box {
  width: 100%;
  border-top: #d5d5d5 solid 2px;
  float: left;
  .title {
    display: block;
    float: left;
    padding: 0 20px 0 10px;
    font-size: 18px;
    line-height: 30px;
    border-top: #157abc solid 2px;
    margin-top: -2px;
    color: #23262d;
  }
  .sort {
    float: right;
    text-align: left;
    padding: 10px;
    white-space: nowrap;
    a {
      &:hover {
        color: #ffcd61;
      }
      &.disabled {
        color: #ffb72e;
      }
    }
  }
}
.category-list {
  .list {
    li {
      padding: 5px 10px 0;
      float: left;
      line-height: 20px;
      width: 160px;
      a {
        &:hover {
          color: dodgerblue;
        }
        &.active {
          color: blue;
        }
      }
    }
  }
}

.song-list {
  .loading {
    padding: 10px;
    float: left;
    margin-left: 160px;
  }
  .list {
    ul {
      margin-top: 20px;
    }
    li {
      padding: 5px 5px;
      font-weight: normal;
      border-bottom: 1px solid #a6a6a6;
      position: relative;
      height: 45px;
      .detail {
        float: left;
        padding: 10px;
        width: 75%;
      }
      .play-count {
        position: absolute;
        top: 18px;
        left: 420px;
        color: rgb(156, 156, 156);
      }
    }
  }
}

.nav {
  margin: 10px 150px;
  text-align: center;
  span {
    line-height: 20px;
  }
  div {
    float: left;
    width: 50px;
    border: 1px solid #23262d;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    &:hover {
      background: #e2f5f5;
    }
    &:active {
      background: #b0e0f5;
    }
    &.disabled {
      background: #cdcdcd;
      &:hover {
        background: #cdcdcd;
      }
      &:active {
        background: #cdcdcd;
      }
    }
  }
  .next{
    float: right;
  }
}

.playlist-list {
  li {
    float: left;
    padding: 10px;
    text-align: center;
    position: relative;
    .text {
      width: 120px;
      .title {
        font-weight: bold;
      }
      .subtitle {
        font-size: smaller;
      }
    }
    .img-container {
      width: 100px;
      height: 100px;
      margin: 0 10px;
      img {
        width: 100%;
      }
    }
  }

  .remove-playlist {
    position: absolute;
    opacity: 0;
    -webkit-transition: 0.5s ease-in-out;
    top: 113px;
    right: 20px;
    &.hover {
      opacity: 1;
    }
    .remove {
      width: 20px;
      height: 20px;
      img {
        width: 100%;
      }
    }
  }

}