.playlist {
  margin: 0 10px 10px 10px;
  border: #dbdbdb solid 2px;
  background: #fbfbfb;
  ul {
    .dndDraggingSource {
      display: none;
    }
    .dndPlaceholder {
      display: block;
      background-color: #ddd;
      min-height: 31px;
    }
  }
  li {
    height: 31px;
    width: 100%;
    line-height: 31px;
    overflow: hidden;
    border-bottom: #ececec solid 1px;
    position: relative;
    &.selected {
      background-color: #dff0d8;
    }
  }
  .no-index {
    display: block;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    width: 25px;
    height: 18px;
    border-right: 1px solid #dfdfdf;
    text-align: center;
    font-weight: 700;
    line-height: 18px;
    &.error {
      text-indent: -10000px;
      background: url(../img/warning.png) no-repeat;
      background-size: cover;
    }
  }
  .functions {
    position: absolute;
    opacity: 0;
    -webkit-transition: 0.5s ease-in-out;
    top: 5px;
    left: 294px;
    &.hover {
      opacity: 1;
    }
    .remove {
      width: 20px;
      height: 20px;
      img {
        width: 100%;
      }
    }
  }
}
.selected .no-index {
  width: 25px;
  height: 20px;
  background: url(../img/icon_status.gif) 6px 1px no-repeat;
  text-indent: -10000px;
}
.song-detail {
  .img-container {
    height: 200px;
    padding: 10px;
    img {
      height: 100%;
    }
  }
  .title {
    font-weight: bold;
    font-size: 15px;
  }
  .artist {
    font-weight: normal;
    font-size: 12px;
  }
}