<div class="menu" ng-controller="MenuController">
    <div class="icon-home">
        <a href="#/main">
            <img src="img/musicstore.png">
        </a>
    </div>
    <div class="menu-item"><a href="#/playlist">Playlist</a></div>
    <div class="menu-item"><a href="#/topsongs">Bảng xếp hạng</a></div>

    <form novalidate class="searchbox" name="searchForm" on-outside-element-click="show=false" ng-submit="search()">
        <div class="search">
            <input type="text" class="tbSearch" ng-model="searchText" name="searchText"
                   placeholder="Tìm kiếm...">
            <input type="submit" value="" class="btnSearch" ng-click="search()">
        </div>
        <div class="search-result" ng-show="show==true">
            <div class="result-box">
                <div class="more">
                    <a href ng-click="search()">
                        Tìm kiếm với "{{searchText}}"...
                    </a>
                </div>
                <ul>
                    <li ng-repeat="song in songs" class="search-song"  >
                        <a href="">
                            <div class="img-container">
                                <img class="icon"
                                     ng-src="{{song.image.replace('STATIC_PATH_V3/images/singer_avatar.jpg','img/albumart-cd.png')}}"
                                     src="img/albumart-cd.png">
                            </div>

                            <div class="detail">
                                <div ng-bind-html="song.title | to_trusted : searchText" class="title"></div>
                                <div ng-bind-html="song.artist | to_trusted : searchText" class="subtitle"></div>
                            </div>
                            <div class="functions">
                                <a href="" ng-click="addFirst($index)"><div class="addFirst" title="Thêm vào tiếp theo danh sách"></div></a>

                                <a href="" ng-click="addLast($index)"><div class="addLast" title="Thêm vào cuối danh sách"></div></a>
                            </div>
                            <div class="clear-float"></div>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </form>
    <div ng-show="user.username">
        <div class="menu-item right"><a href="" ng-click="logout()">Đăng xuất</a></div>
        <div class="logout"></div>
        <div class="menu-item right"><a href="#/myplaylist">Playlist của {{user.username}}</a></div>
    </div>
    <div ng-show="!user.username">
        <div class="menu-item right"><a href="" ng-click="login()">Đăng nhập / Đăng kí</a></div>
    </div>
    <div class="clear-float"></div>
</div>